html {
  box-sizing: border-box;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  line-height: 1.5;
  text-decoration: none;
  justify-content: center;
}

li {
  list-style: none;
}
